.idea/*
target/*
/*.log
models/*
docs/sonar-map.dxf~
/*.zip
/*.dat
/*.bin
/measures/*
/stiction/*
/dependency-reduced-pom.xml
/output.md
/data/**/*.csv
/data/**/*.bin
/batch/*
/*.txt
/tmp/**/*
/reports/**/*
/report/**/*
/kpis/*
