<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mmarini.wheelly.apis.RobotSocket" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.engines.ExploringPointState" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.engines.AvoidingState" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.apis.Robot" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.engines.ExtendedStateNode" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.engines.StateMachineAgent" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.apis.RobotController" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.engines.MoveToState" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.engines.HaltState" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.engines.ClearMapState" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.apps.MatrixMonitor" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.apps.RobotCheckUp" level="INFO">
    </logger>

    <logger name="org.mmarini.wheelly.apis.SimRobot" level="INFO">
    </logger>

    <logger name="com.networknt.schema" level="INFO">
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
