<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mmarini" level="INFO"/>
    <logger name="com.networknt.schema" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <logger name="org.mmarini.wheelly.sockets.LineSocket" level="INFO"/>
    <logger name="org.mmarini.wheelly.sockets.RealRobot" level="INFO"/>
    <logger name="org.mmarini.wheelly.apis.SimRobot" level="INFO"/>

    <logger name="org.mmarini.wheelly.apis.RobotController" level="INFO"/>
    <logger name="org.mmarini.wheelly.apis.RobotControllerStatus" level="INFO"/>

    <logger name="org.mmarini.wheelly.apis.RadarMap" level="INFO"/>

    <logger name="org.mmarini.wheelly.engines.StateMachineAgent" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.AbstractSearchAndMoveState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.AvoidingState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.MoveToState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.HaltState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.ClearMapState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.LabelStuckState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.MappingState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.ExploringPointState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.SearchLabelState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.SearchUnknownState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.SearchRefreshState" level="INFO"/>
    <logger name="org.mmarini.wheelly.engines.AStar" level="INFO"/>

    <logger name="org.mmarini.wheelly.apps.MatrixMonitor" level="INFO"/>
    <logger name="org.mmarini.wheelly.apps.RobotCheckUp" level="INFO"/>
    <logger name="org.mmarini.wheelly.apps.RobotExecutor" level="INFO"/>
    <logger name="org.mmarini.wheelly.apps.Report" level="INFO"/>
    <logger name="org.mmarini.wheelly.apps.Wheelly" level="INFO"/>
    <logger name="org.mmarini.wheelly.apps.CameraCalibration" level="INFO"/>

    <logger name="org.mmarini.wheelly.swing.NNActivityPanel" level="INFO"/>

    <logger name="org.mmarini.rl.agents.BinArrayFile" level="INFO"/>
    <logger name="org.mmarini.rl.agents.CSVWriter" level="INFO"/>
    <logger name="org.mmarini.rl.agents.TDAgentSingleNN" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
