<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <appender name="DATA_FILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>test-data.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <logger name="com.networknt.schema" level="INFO"/>

    <logger name="org.mmarini.wheelly.sockets.LineSocket" level="DEBUG"/>
    <logger name="org.mmarini.wheelly.apis.SimRobotObstacleTest" level="INFO"/>
    <logger name="org.mmarini.wheelly.apis.RobotControllerStatus" level="INFO"/>
    <logger name="org.mmarini.wheelly.apis.SimRobot" level="INFO"/>
    <logger name="org.mmarini.wheelly.mqtt.RxMqttClient" level="DEBUG"/>
    <logger name="org.mmarini.wheelly.mqtt.MqttRobot" level="DEBUG"/>
    <logger name="org.mmarini.wheelly.mqtt.MockMqttClient" level="DEBUG"/>
    <logger name="org.mmarini.wheelly.mqtt.RemoteDevice" level="DEBUG"/>

    <logger name="org.mmarini.wheelly.engines.AStar" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
